<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="AN Tools Refactoring Action Set"
            visible="true"
            id="fr.an.eclipse.tools.refactoring.refactoringActionSet">

         <menu id="fr.an.eclipse.tools.refactoring.ui.refactoringMenu"
               label="AN Tools Refactoring">
            <separator name="additions">
            </separator>
         </menu>
         
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="fr.an.eclipse.tools.refactoring.ui.IResourceContribution"
            objectClass="org.eclipse.core.resources.IResource">

  		<menu id="fr.an.eclipse.tools.refactoring.RefactoringObjMenu"
               	label="AN Tools Refactoring"
               	path="edit">
            <separator name="additions">
            </separator>
        </menu>
         
        <action
               class="fr.an.eclipse.tools.refactoring.actions.SwapVarEqualsStringRefactoringAction"
               id="fr.an.eclipse.tools.refactoring.actions.SwapVarEqualsStringRefactoringAction"
               label="Swap var.equals(string) -> sting.equals(var)"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/ANToolsRefactoringMenu">
        </action>

        <action
               class="fr.an.eclipse.tools.refactoring.actions.MethodParamsToTupleRefactoringAction"
               id="fr.an.eclipse.tools.refactoring.actions.MethodParamsToTupleRefactoringAction"
               label="JAX-RS POST_TupleBodyFragments -> class Request"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/ANToolsRefactoringMenu">
        </action>
		
		         
      </objectContribution>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="fr.an.eclipse.tools.refactoring.contribution1">
         <menu
               label="Refactoring"
               path="additions"
               id="fr.an.eclipse.tools.refactoring.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Swap var.equals(string)"
               class="fr.an.eclipse.tools.refactoring.popup.actions.NewAction"
               menubarPath="fr.an.eclipse.tools.refactoring.menu1/group1"
               enablesFor="1"
               id="fr.an.eclipse.tools.refactoring.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
